{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script type="text/javascript" src="{% static 'js/tree.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/treeitem.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/treeClick.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/tree.css'%}"/>
    <script src="{% static 'js/main.js'%}"/>

    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Teste Adaptativo</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

      <title>Questoes de Exatas</title>



  </head>
  <div class="container " >
      <nav class="navbar navbar-expand-lg navbar-dark p-3 " style="background-color: #0a4275;">
          <a class="navbar-brand" href="{% url 'home' %}">Questões de Exatas</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
              </ul>
          </div>
          <form class="form my-2 my-lg-0">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Bem vindo : Abner </a>
                  </li>
                  <a href="{% url 'logout' %}" class=" btn btn-outline-warning ">Sair</a>
              </ul>
          </form>
      </nav>

      <nav class="nav" style="background-color: #6C757D;">
          <a class="nav-link text-white" href="{% url 'consultar' %}"> Consultar Questões</a>
          <a class="nav-link text-white" href="#">Cadastrar Questões</a>
          <a class="nav-link text-white" href="#">Consultar Gráficos</a>
          <a class="nav-link text-white" href="#">Meu Perfil</a>
      </nav>


    <div class="card my-2" >
      <div class="card-header">
          <div class="row">
              <div class="col-5">
                  <p> <b>Disciplina:</b>
                   {% for ds in disciplina %}
                     {{ ds }}
                    {% endfor %}
                  </p>
                  <p> <b>Assunto: </b>
                  {% for ass in assunto %}
                     {{ass}}
                  {% endfor %}
                  </p>
              </div>
              <div class="col-3">
                  <p><b>Banca:</b> {{banca}} </p>
                  <p><b>Ano:</b> {{ano}}</p>
              </div>


          </div>


      </div>
      <form method="post">
          {%csrf_token%}
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <p><b>Enunciado:</b></p>
                <p> {{enunciado}}</p>
        </li>

        <li class="list-group-item">
            <p><b>Alternativas</b></p>
            <div class="py-2">
                <label>
                    <input  class="form-check-input" type="radio" name="user_resp" value="A" required, checked>
                </label>
                <b>(A)</b> {{alt_a}}
            </div>

            <div class="py-2">
                <label>
                    <input class="form-check-input" type="radio" name="user_resp" value="B">
                </label>
                <b>(B)</b> {{alt_b}}
            </div>

            <div class="py-2">
                <label>
                    <input class="form-check-input" type="radio" name="user_resp" value="C">
                </label>
                <b>(C)</b> {{alt_c}}
            </div>

            <div class="py-2">
                <label>
                    <input  class="form-check-input" type="radio" name="user_resp" value="D">
                </label>
                <b>(D)</b> {{alt_d}}
            </div>

            <div class="py-2">
                <label>
                    <input  class="form-check-input" type="radio" name="user_resp" value="E">
                </label>
                <b>(E)</b> {{alt_e}}
            </div>



        </li>
        <li class="list-group-item">
            <div>
                <p>Gabarito: {{gabarito}}</p>
            </div>
            <div>
                <p>Teta atual = {{teta}}</p>
            </div>
            <div>
                <p>| Discriminação: {{param_a}} | Dificuldade {{param_b}} | Acerto ao acaso: {{param_c}} |</p>
            </div>
            <button type="submit" class="btn btn-success"> Responder </button>
            <br>
        </li>


        <input type="hidden" name="vet_resp" value="{{server_vet_resp}}">
        <input type="hidden" name="id_itens" value="{{server_id_items}}">
        <input type="hidden" name="cli_est" value="{{server_cli_est}}">


      </ul>
    </form>
    </div>





      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #0a4275;">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
              <!-- Section: CTA -->
              <section class="">
                  <p class="d-flex justify-content-center align-items-center">
                      <span class="me-3">Aprenda mais rápido, pratique exercícios de forma adaptativa! </span>
                  </p>
              </section>
              <!-- Section: CTA -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2020 Todos os direitos reservados :
              <a class="text-white" href="#">Questões de Exatas</a>
          </div>
          <!-- Copyright -->
      </footer>
  </div>    <!-- Footer -->



</html>
